*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body{
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: auto;
}
header{
    display: flex;
    background-color: rgb(255, 255, 255);
}
header > div{
    width: 100%;
    display: flex;
    align-items: center;
}

header div:nth-child(2){
    justify-content: end;
}
header img{
    margin: 0px 10px;
    width: 30px;
}
header h1{
    margin: 10px 20px;
}


main{
    background-color: #6d0b89;
}
.containerSuperior{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerImg{
    padding: 10px;
    background-color: white;
    width: 70%;
    margin: 50px 0px;

}
.containerImg img{
    width: 100%;
}
.containerPreco{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

}
.precoVelho{
    color: gray;
    font-weight: 600;
    margin: 0px 10px;
    text-decoration: line-through;
    font-size: 20px;

}
.precoNovo{
    color: #3ecb00;
    font-weight: bolder;
    margin: 0px 10px;
    font-size: 26px;
}
.containerProgress{
    background-color: white;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    padding: 1px 10px;
}
.containerProgress > div:nth-child(1){
    margin: 20px 0px;
}
.containerProgress > div:nth-child(1) > p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.containerProgress > div:nth-child(1) > p:nth-child(2){
    font-weight: normal;
    font-size: 20px;

}

.containerProgress > div:nth-child(2){
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.containerProgress label{
    width: 96%;
    text-align: start;
    margin: 10px auto;

}



.containerProgress input{
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.progress{
    width: 96%;
    height: 18px;
    background-color: #6e0b894f;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 20px 0px #00000054;
}
.progress > div{
    width: 73%;
    height: 100%;
    background-color: #6e0b89af;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.contaierTxtProgress{
    background-color: #540a68;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    margin-right: -6px;
}

.contaierTxtProgress p{
    color: white;
    font-size: 12px;
    padding: 0px 8px;
    
}




.containerProgress button{
    margin: 20px auto 30px auto;
    width: 96%;
    padding: 14px 0px;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 2px;
    border-radius: 50px;
    border: none;
    background: #6d0b89;
    color: white;
    cursor: pointer;

}

.chat{
    background-color: #cfcfcf;
    padding: 10px 0px;

}


.chat> div:nth-child(1){
    background-color: white;
    padding: 10px;
    font-size: 14px;
}
.chat> div:nth-child(2){
    background-color: transparent;
    text-align: center;
    color: #838383;
    margin: 13px 0px;
}
.containerMensagem{
    display: flex;
    align-items: flex-start;
    width: 96%;
    margin: 12px auto;
}
.avatar{
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar > p{
    color: white;
    font-weight: bolder;
    font-size: 20px;
 
}
.containerTxt{
    background-color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    margin-top: 6px;
}
.msg > div{
    font-size: 10px;
    margin-bottom: 2px;
    color: red;
    font-weight: 600;
}
.inputMensagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 30px auto 10px auto;
    border-radius: 50px;
    width: 86%;
    cursor: pointer;
}
.inputMensagem{
    color: #000000a4;
    font-size: 12px;
}